body {
  width: 100%;
  background: url(../images/fondo.jpg);
  background-size: cover;
  background-color: #795548;
  font-family: "Roboto", sans-serif;
}

.titulo {
  background-color: rgba(177, 177, 177, 0.397);
  padding: 30px;
  padding-bottom: 10px;
}

.titulo h1 {
  text-align: center;
  font-weight: 300;
}

.titulo h1 a {
  text-decoration: none;
  color: #212121;
}

.titulo h1 a:hover {
  color: rgb(38, 99, 38);
}

.splash__texto {
  background-color: rgba(233, 222, 222, 0.466);
  border-radius: 10px;
  padding: 50px;
  text-align: center;
}

.splash__texto h1 {
  color: black;
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.splash__texto p {
  font-size: 1.8rem;
  color: black;
  font-weight: 400;
  padding: 5px 15px;
}

.responsables img {
  width: 100%;
}

.invitados {
  background-color: rgba(233, 222, 222, 0.466);
  padding: 35px 0;
}

.invitados__titulo h1 {
  color: black;
  font-size: 45px;
}

.invitados img {
  width: 100%;
  margin-bottom: 20px;
}



header {
  padding: 8px;
}


nav ul {
  text-align: center;
  padding-left: 0rem;
  margin: 10px;
}

nav ul li {
  display: block;
  padding: 8px;
  margin-left: 12px;
  margin-right: 12px;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
  color: #212121;
  text-transform: uppercase;
}


#textoClases h2 {
  color: black;
  font-weight: 700;
}

#textoClases {
  background-color: rgba(233, 222, 222, 0.466);
  border-radius: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
}

#textoClases p {
  font-weight: 400;
  padding: 10px 25px;
  text-align: justify;
  margin-bottom: 5px;
}

#textoClases h4 {
  text-decoration: underline;
  font-style: italic;
  font-weight: 300;
}

#textoClases h3 {
  color: #212121;
  text-align: justify;
  padding: 10px 30px;
}

.actividad {
  font-weight: 400;
  padding: 10px 25px;
  text-align: justify;
}

section li {
  text-align: justify;
}

#pdfClase2 a {
  text-decoration: none;
  color: rgb(73, 197, 73);
  margin-left: 20px;
}

#pdfClase2 a:hover {
  color: #2d801c;
}






#textoTemario {
  background-color: rgba(233, 222, 222, 0.466);
  border-radius: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}

#textoTemario h1 {
  color: black;
}

#textoTemario p {
  color: black;
  font-weight: 400;
  padding-left: 8px;
  padding-right: 8px;
  text-align: left;
}

#textoInvitados {
  background-color: rgba(233, 222, 222, 0.466);
  border-radius: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.lista {
  text-align: start;
}

.content {
  padding: 10px;
}

.img {
  padding-top: 5px;
}

.card {
  background-color: #ffffff91 !important;
  margin: 8px !important;
}

.card img {
  width: 100%;
}

section {
  text-align: center;
  padding: 40px;
  padding-top: 15px;
}

#infoClase {
  vertical-align: middle;
}

#videoClase {
  max-width: 100%;
  height: auto;
  padding: 8px;
}

#contenedorPdf {
  padding: 10px;
}

.clase3 {
  height: 40vh;
  padding-bottom: 5px;
}

.clase3 .container-lg {
  height: 100%;
}

.clase3__ppt {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clase3__ppt iframe {
    height: 100%;
    width: 100%;
}

.compu {
  display: none;
}

.celu {
  display: flex;
}

footer {
  text-align: center;
  width: 100%;
  height: 28px;
  position: absolute;
  background-color: #9b9b9b;
}

footer p {
  padding-top: 4px;
}

.videoCompu {
  display: none;
}

.videoCelu {
  display: flex;
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  nav ul li {
    display: inline-block;
  }
  #textoPrincipal {
    background-color: rgba(233, 222, 222, 0.466);
    border-radius: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #textoPrincipal h1 {
    font-weight: 700;
  }

  #textoPrincipal p {
    font-size: 30px;
    color: black;
    font-weight: 400;
  }

  #textoClases h2 {
    font-weight: 700;
  }

  #textoClases {
    background-color: rgba(233, 222, 222, 0.466);
    border-radius: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #textoClases p {
    font-size: 20px;
    font-weight: 400;
  }

  #textoClases h4 {
    text-decoration: underline;
    font-style: italic;
    font-weight: 300;
  }

  #textoTemario {
    background-color: rgba(233, 222, 222, 0.466);
    border-radius: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #textoTemario p {
    font-weight: 400;
    padding-left: 8px;
    padding-right: 8px;
    text-align: left;
  }

  .invitados img {
    
  }

  .lista {
    color: black;
    text-align: start;
  }

  .content {
    padding: 10px;
  }

  .img {
    padding-top: 5px;
  }

  .card {
    background-color: #ffffff91 !important;
  }

  .celu {
    display: none;
  }

  .compu {
    display: flex;
  }
  .centro {
    padding-left: 0px !important;
  }

  .videoCelu {
    display: none;
  }

  .videoCompu {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* CLASE 3 MOBILE */

  .clase3 {
    height: 100vh;
    padding-bottom: 5px;
  }
  
  .clase3 .container-lg {
    height: 100%;
  }
  
  .clase3__ppt {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .clase3__ppt iframe {
      height: 90%;
      width: 77%;
  }
  
  .carrusel {
    height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .carrusel__contenedor {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  
}
